<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'accounts:dashboard' %}">Drone Mapping</a>
        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item me-3">
                    <span class="text-light">{{ request.user.get_full_name|default:request.user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light btn-sm"
                       href="{% url 'accounts:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
